@import "./nullstyle.css";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@300;400&display=swap');

body {
    height: 100%;
    color: #555248;
    font-size: 14px;
    line-height: 1;
    font-family: 'Roboto';
}
/* ------------------------------------------------------------------------------------------ */
.wrapper {
    min-height: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}
/* ------------------------------------------------------------------------------------------ */
._container {
    max-width: 1170px;
    padding: 0px 15px;
    margin: 0 auto;
    box-sizing: content-box;
}
._ibg {
    position: relative;
}

._ibg img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: -1000;
    object-fit: cover;
}
/* ------ШАПКА-------------------------------------------------------------------------------- */
.header {
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 1000;
}

.header__container {
    min-height: 85px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__logo {
    display: flex;
    align-items: center;
    color: inherit;

    margin-right: 56px;
}

.header__img {
    width: 20px;
    height: 20px;
}

.header__img img {
    width: auto;
    height: 100%;
}

.header__text {
    font-weight: 400;
    font-size: 12px;
    letter-spacing: 0.14em;
    font-family: 'Playfair Display';
}

.header__menu {
    display: flex;
    align-items: center;
    padding: 5px 0;
}

.menu__list {
    display: flex;
    flex-wrap: wrap;
}

.menu__item {
}

.menu__item:not(:last-child) {
    margin-right: 65px;
}

.menu__link {
    color: inherit;
    line-height: calc(16 / 14 * 100%);
}

.header__icons {
    display: flex;
}

.header__icon {
    width: auto;
    height: 16px;
    display: block;
}

.header__icon:not(:last-child) {
    margin-right: 23px;
}

.header__icon img{
    width: auto;
    height: 100%;
}

/* ---MAIN------------------------------------------------------------------------------ */
.page {
    flex: 1 1 auto;
}


/* ---ПОДВАЛ----------------------------------------------------------------------------- */

.footer {

}

/* ---MAIN_BLOCK-------------------------------------------------------------------------- */
.page__main-block {
    position: relative;

    height: 768px;
    margin-top: 85px;
}
.main-block {
}
.main-block__container {
    display: flex;
}
.main_block__body-title {
    padding: 236px 0px 0px 87px;
    position: relative;
    z-index: 2;
}
.main-block__title {
    color: #1B1A17;
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 45px;
    line-height: calc(60 / 45 * 100%);
    margin-bottom: 4px;
}
.main-block__subtitle {
    color: #1B1A17;
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 30px;
    line-height: calc(40 / 30 * 100%);
    margin-bottom: 30px;
}
.main-block__text {
    color: rgba(27, 26, 23, 0.82);
    width: 258px;
    font-weight: 300;
    font-size: 14px;
    line-height: calc(21 / 14 * 100%);
    margin-bottom: 56px;
}
.main-block__button {
    background: rgba(68, 66, 64, 1);

}
.button {
    color: #FFFFFF;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0px 38px;
    min-height: 48px;

    font-weight: 500;
    font-size: 12px;
    line-height: calc(14 / 12 * 100%);
    letter-spacing: 0.05em;
    text-transform: uppercase;
}
.main-block__body-image {
}
.main-block__image {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

