@import "./nullstyle.css";

@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700&family=Roboto:wght@300;400&display=swap');

body {
    font-family: 'Roboto';
    font-size: 14px;
    line-height: 16px;
}

.header {
    height: 87px;
    display: flex;
    justify-content: space-between;
    padding: 0 100px;
}

.header__logo {
    display: flex;
    align-items: center;
}

.header__img {
    width: 20px;
    height: 20px;
}

.header__img img {
    width: 100%;
    height: 100%;
}

.header__text {
    font-family: 'Playfair Display';
    font-weight: 400;
    font-size: 12px;
    line-height: 16px;
    letter-spacing: 0.14em; 
}

.header__nav {
    display: flex;
    align-items: center;
}

.header__links {
    display: flex;
}

.header__link {
    color: #000;
}

.header__links li {
    margin-right: 65px;
}

.header__links li:last-child {
    margin-right: 0;
}

.header__icons {
    display: flex;
    align-items: center;
}

.header__icon {
    margin-right: 23px;
}

.header__icons div:last-child {
    margin-right: 0;
}
